/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--font);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-size: 18px;
  font-weight: normal;
  line-height: 23.4px;
}

.header {
  min-block-size: 100vh;
  padding: var(--padding);
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  font-weight: bold;
  line-height: 82.5%;
}

.header__theme-menu-list {
  margin-top: 65px;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--button-color);
  text-transform: lowercase;
  background-color: transparent;
  border: none;
  min-inline-size: 70px;
  min-block-size: 26px;
  padding: auto;
  line-height: 18px;
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
}

.header__description {
  background-color: var(--accent-color);
  color: var(--description-color);
  font-weight: bold;
  max-height: min-content;
  justify-self: end;
  align-self: center;
}

.link {
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.decor {
  position: absolute;
  right: var(--padding);
  top: var(--padding);
}

.decor::before {
  position: absolute;
  content: "REС";
  text-align: center;
  color: var(--accent-color);
  line-height: 25px;
  right: 28px;
  font-family: var(--font);
}

.decor::after {
  position: absolute;
  content: "";
  top: 8px;
  right: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  min-height: 9px;
  min-width: 9px;
}

.decorated-section::after {
  content: "";
  position: absolute;
  border-inline-end: 1px solid var(--border-color);
  border-block-start: 1px solid var(--border-color);
  width: 25px;
  height: 25px;
  top: var(--padding);
  right: var(--padding);
}

.decorated-section::before {
  content: "";
  position: absolute;
  border-inline-start: 1px solid var(--border-color);
  border-block-end: 1px solid var(--border-color);
  bottom: var(--padding);
  width: 25px;
  height: 25px;
  left: var(--padding);

}

.main {
  padding: 0 var(--padding);
}

.section__title {
  font-size: 18px;
  color: var(--section-title-color);
  font-weight: bold;
  margin-bottom: 20px;
}

.article {
  margin-bottom: 10px;
}

.article__title {
  background-color: var(--accent-color);
  color: var(--article-title-color);
  font-size: 18px;
  font-weight: bold;
}

.article__description {
  color: var(--article-text-color);
}

.section__subtitle {
  background-color: var(--accent-color);
  margin-bottom: 10px;
  color: var(--article-title-color);
  font-size: 18px;
  font-weight: bold;
}

.section {
  margin-bottom: 40px;
}

.section__how-article-title {
  font-weight: normal;
}

.section__gallery-images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.section__what .articles {
  grid-area: articles;
}

.section__gallery-image {
  width: 100%;
}

.footer {
  padding: var(--padding);
  height: 100vh;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.footer__title {
  display: flex;
  align-self: center;
  justify-self: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
  color: var(--title-color);
  font-weight: bold;
  line-height: 82.5%;
}

@media (width >= 1024px) {
  .section__what .articles {
    display: flex;
    gap: 20px;
  }

  .header__theme-menu {
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    justify-self: center;
    margin-top: 0;
  }
}

@media (768px <= width) {
  :root {
    --padding: 20px;
  }

  .section {
    margin-bottom: 70px;
  }

  .header {
    padding: 20px;
    margin-bottom: 60px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .header__theme-menu {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .header__title {
    grid-column: span 2;
    grid-row: 2;
  }

  .header__description { 
    grid-column: 2;
    grid-row: 3;
  }


  .section__why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section__gallery-images {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    grid-template-areas: "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
  }

  .section__gallery-image {
    object-fit: cover;
    object-position: center;
    height: 100%;
  }

  .image-sunset {
    grid-area: sunset;
  }
  
  .image-ice-cream {
    grid-area: ice-cream;
  }
  
  .image-street {
    grid-area: street;
  }
  
  .image-tape {
    grid-area: tape;
  }
  
  .image-books {
    grid-area: books;
  }

  .section__what {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    grid-template-areas: "title ."
    "articles articles";
  }

  .section__how {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

}